/* Padding, margin and border removed */

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */

a {
    text-decoration: none;
}

/* Page Title */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200%;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}

#question {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}


/* Button styling */

.btn {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #1d1d1d;
    text-align: center;
    padding: 2px 20px;
    font-size: 1rem;
    transition: all 0.2s;
}

#back-to-index-btn {
    margin: 20px auto;
}

#back-to-index-btn a {
    color: #fff;
}

#back-to-index-btn a:hover {
    color: #000000;
}

.btn:hover:not([disabled]) {
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}

.btn:disabled {
    cursor: none;
}

.btn-display {
    display: grid;
    grid-template-columns: max-content;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}


/* Container styling */

.container {
    color: #fff;
    background-color: rgba(44, 44, 44, 0.6);
    max-width: 550px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 2px;
    margin: auto;
}

.hide {
    display: none;
}

/* Instructions container */

#instructions-container {
    font-size: 1.2rem;
    padding: 15px;
}

ol {
    margin-top: 2rem;
    margin-left: 0;
}

/* answers */

.correct-answer {
    background: rgb(21, 219, 4);
}

.wrong-answer {
    background: rgb(236, 32, 32);
}

/* hud */

#score-area {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;

}

.hud-main-text {
    text-align: center;
}

#progress-question-bar {
    width: 100px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
}

#progress-question-bar-full {
    height: 100%;
    background-color: #fff;
    width: 0%;
}

.question-counter {
    color: #000000;
    margin: auto;
}

.score-item {
    text-align: center;
}

.username-label {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.text-input {
    height: 20px;
    padding: 2px 20px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

.submitButton {
    padding: 2px 40px;
}

/* Scoreboard */

.score-list {
    padding: 15px;
    text-align: center;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;
}

ul {
    margin: 2rem ;
}

li {
    margin: -15px 0;
}