/* Padding, margin and border removed */

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */

a {
    text-decoration: none;
}

/* Page Title */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200%;
    text-align: center;
}